<div class="wrapper">
  <div class="container">
    <div class="nav">
      <%= link_to "■掲示板に戻る■", boards_path %>
      <%= link_to "■スレッドに戻る■", board_path(@board) %>
      <%= link_to "削除する", board_path(@board), method: :delete, data: { confirm: "本当に削除しますか？" } %>
    </div>
    <h1><%= @board.name %></h1>
    <div class="panel">
      <%= form_tag board_path(@board), method: :put do %>
        <%= text_field_tag :name, @board.name %>
        <%= text_field_tag :from, @board.from %>
        <%= text_field_tag :email, @board.email %>
        <%= text_field_tag :content, @board.content %>
        <%= submit_tag %>
      <% end %>
    </div>
  </div>
</div>
