<div class="wrapper">
  <div class="container">
    <div class="nav">
      <%= link_to "■掲示板に戻る■", boards_path %>
      <%= link_to "■スレッドに戻る■", board_path(@board) %>
      <%= link_to "削除する", board_path(@board), method: :delete, data: { confirm: "本当に削除しますか？" } %>
    </div>
    <hr>
    <div class="board">
      <h1 class="board--name"><%= @board.name %></h1>
    </div>
    <div class="panel">
      <%= form_for @board do |f| %>
        <%= f.text_field :name %>
        <%= f.text_field :from %>
        <%= f.text_field :email %>
        <%= f.text_area :content %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
