<div class="wrapper wrapper__bg">
  <div class="container">
    <div class="panel">
      <% @boards.each do |board| %>
        <%= link_to board.name, board_path(board) %>
      <% end %>
    </div>

    <div class="panel">
      <%= form_for @board do |f| %>
        <%= f.text_field :name %>
        <%= f.text_field :from %>
        <%= f.text_field :email %>
        <%= f.text_area :content %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
