<div class="wrapper wrapper__bg">
  <div class="container">
    <div class="panel">
      <% @boards.each do |board| %>
        <%= board.name %>
      <% end %>
    </div>

    <div class="panel">
      <%= form_tag "/boards", method: :post do %>
        <%= text_field_tag :name %>
        <%= text_field_tag :from %>
        <%= text_field_tag :email %>
        <%= text_field_tag :content %>
        <%= submit_tag %>
      <% end %>
    </div>
  </div>
</div>
