<div class="wrapper wrapper__bg">
  <div class="container">
    <div class="panel">
      <% @boards.each do |board| %>
        <%= link_to board.name, board_path(board) %>
      <% end %>
    </div>

    <div class="panel form">
      <%= form_for @board do |f| %>
        <div>
          <div class="form--label">
            タイトル
          </div>
          <div class="form--input">
            <%= f.text_field :name %>
          </div>
        </div>
        <div>
          <div class="form--label">
            名前
          </div>
          <div class="form--input">
            <%= f.text_field :from %>
          </div>
        </div>
        <div>
          <div class="form--label">
            Email
          </div>
          <div class="form--input">
            <%= f.text_field :email %>
          </div>
        </div>
        <div>
          <div class="form--label">
            内容
          </div>
          <div class="form--input">
            <%= f.text_area :content %>
          </div>
        </div>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
