<div class="wrapper">
  <div class="container">
    <div class="nav">
      <%= link_to "■掲示板に戻る■", boards_path %>
      <%= link_to "編集する", edit_board_path(@board) %>
    </div>
    <hr>
    <div class="board">
      <h1 class="board--name"><%= @board.name %></h1>

      <div class="comments">
        <% @board.comments.each_with_index do |comment, index| %>
          <div class="comment">
            <div class="comment--heading">
              <%= index + 1 %>:
              <%= link_to comment.from, "mailto:#{comment.email}", class: "comment--from" %>:
              <%= comment.created_at.strftime("%Y/%m/%d %H:%M:%S ") %>
              <%= link_to "削除する", board_comment_path(@board, comment), method: :delete, data: { confirm: "本当に削除しますか?" } %>
            </div>
            <div class="comment-body">
              <%= comment.content %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="form">
      <%= form_for @comment, url: board_comments_path(@board, @comment) do |f| %>
        <div>
          <div class="form--label">
            名前
          </div>
          <div class="form--input">
            <%= f.text_field :from %>
          </div>
        </div>
        <div>
          <div class="form--label">
            Email
          </div>
          <div class="form--input">
            <%= f.text_field :email %>
          </div>
        </div>
        <div>
          <div class="form--label">
            内容
          </div>
          <div class="form--input">
            <%= f.text_area :content %>
          </div>
        </div>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
